# CUSTOM JOB CONFIGURATION

#------------ PBS PARAMETERS ------------
readonly CHUNKS=2
readonly N_CPUS=1
# MEMORY for every CHUNK
readonly MEMORY=1gb
readonly PLACING=pack:excl

readonly WALLTIME=00:05:00

readonly QUEUE_TYPE=short_cpuQ


#------------ MPI PARAMETERS ------------

readonly HPC_MPI_PROCESSES=2
